.form_register {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f0f2f5;
}
.modal__body {
    height: 700px;
    width: 600px;
    margin: auto;
    background-color: white;
    z-index: 1;

}

.modal__inner {
    border-radius: 10px;
}

.auth-form {
    /* padding: 0 20px; */
}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid #6a6a6a; */
    /* margin: auto; */
}
.auth-form_part-head {
    width: 300px;
    text-align: center;
    font-size: 2.6rem;
    padding:36px 12px;
    margin: 0;
}

.auth-form__login {
    cursor: pointer;
    background-color: #989898;
    color: white;
}

.auth-form__form{
    padding: 0 20px;
    margin: auto;
    margin-top: 20px;
}

.auth-form__group {
    margin: 0px 42px;
}

.auth-form__group-infor {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* .auth-form__group--des {
    color: #121;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.75;
    margin-top: 36px;
    margin-bottom: 36px;
} */

.auth-form__input {
    color: #121;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.75;
    width: 100%;
    height: 56px;
    border-radius: 4px 4px 0px 0px;
    margin-top: 12px;
    padding: 0 12px;
    /* border: 1px solid var(--border-color); */
    border-color: var(--border-color);
}
/* .auth-form__remember-forgot {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 48px;
} */

.auth-form__checkbox {
    text-align: left;
    width: 12px;
    height: 12px;
    font-size: 1.6rem;
    margin-left: 8px;
}
/* .btn-forgot-pass {
    text-align: right;
    width: 200px;
    color: red;
    margin-right: 12px;
    text-decoration: none;
} */
.auth-form__policy-text {
    /* align-items: center; */
    width: 100%;
    color: #121;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.75;
    height: 48px;
    margin-top: 12px;
}

.auth-form__policy-link {
    text-decoration: none;
}

/* .forgot--password  {
    align-items: center;
} */

.auth-form__controls {
    width: 512px;
    height: 56px;
    border-radius: 4px 4px 0px 0px;
}


.btn--login {
    background-color: #3179ff;
    border-color: #3179ff;
    justify-content: center;
    outline: none;
    width: 476px;
    height: 48px;
    margin: 12px 42px;
    border-radius: 4px;
    font-size: 1.6rem;
    color: white;
    font-style: normal;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.85;
}

.other_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px; */
    margin: 12px 42px;
    height: 56px;
    color: #121;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.75;
}
.hr {
    width: 180px;
}

.auth-form__socials {
    display: flex;
    gap: 16px;
    height: 56px;
    font-size: 26px;
    margin: 16px 42px;
    /* padding: 0px 0px; */
    /* width: 120px; */
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    flex: 1 0 0;

}

.btn-icon {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.auth-form__socials-icon {
    align-items: center;
    width: 147px;
    padding: 16px 24px;
}
