.footer{
    font-family: Arial, Helvetica, sans-serif;
    position:absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 600px;
    background-color: rgb(13, 8, 93);
    color: rgb(255, 255, 255);
}
.footer-flex-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.footer-flex-container__box-title{
    font-weight: bold;
}
.footer-flex-container__box-content{
    font-weight:lighter;
    color: rgb(210, 146, 67);
    text-decoration: none;
    font-size: 17px;
}
a:hover{
    color: rgb(6, 239, 247);
    text-decoration: underline;
}
.footer-flex-container__box-logo{
    height: 90px;
    width: 300px;
}
.footer-flex-icon-container{
    display: flex;
    justify-content: space-evenly;
}
.footer-flex-container__box-icon{
    height: 50px;
    width: 50px;
    opacity: 0.6;
    font-size: 50px;
}
.footer-flex-container__box-icon:hover{
    opacity: 1.0;
}
.footer-flex-container__box-bank-logo{
    height: 150px;
    width: 300px;
}
.footer-relative-container{
    margin-top: 100px;
    text-align: center;
    position: relative;
    height: 30px;
    width: 100%;
}

