.form-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: relative;
    margin: 70px 0px;
}
.form-ttdc-container{
    padding: 10px 0px;
    padding-left: 16px;
}
.form-ttdc-container__title{
    margin: 10px 10px;
}
.form-ttdc-container__sub-title{
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0px;
}
.form-ttdc-container__content{
    margin: 0px 115px;
    padding: 14px 0px;
    padding-left: 16px;
    width: 500px;
}
.form-ttdc-container__content-login{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
}
.form-ttdc-container__content-asterisk--color{
    color: rgb(255, 0, 0);
}
.form-ttdc-container__content-title{
    text-align: right;
    font-weight: bold;
    color: rgb(90, 86, 86);
    padding: 12px 0px;
    font-size: 15px;
}
.form-ttdc-container__content-input{
    padding: 15px 15px;
    height: 40px;
    font-size: 15px;
}
.form-ttdc-container__content-btn{
    display: grid;
    padding: 10px 15px;
    grid-template-columns: 1fr 1fr;
}
.form-ttdc-container__content-link{
    padding: 12px 0px;
    text-decoration: none;
    color: #2fa4e7;
    font-size: 15px;
}
.form-ttdc-container__content-link:hover{
    color: #157ab5;
    text-decoration: underline;
}
.form-ttdc__title{
    color: rgb(255, 255, 255);
    background-color: #0082c4;
    width: 230px;
    margin: 5px 0px;
}
.form-ttdc__btn{
    height: 40px;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: #54b4eb;
    border-radius: 5px;
    border: 0px;
    margin-left: 103px;
    font-size: 17px;
}
.form-ttdc__btn:hover{
    border: 1px solid rgb(30, 0, 255);
}