* {
    padding: 0;
    margin: 0;
}

.app {
    position: relative;
    min-height: 1200px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 120px;
    width: 100%;
    background-color: rgba(32, 43, 49, 1) !important;
    position: fixed;
}

.header__log {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.header__log--webname {}

.header__log--webname--logo {
    height: 50px;
    width: 125px;
}

.logo--name {
    float: left;
}

.header--info {
    display: flex;
    /* width: 350px; */
    gap: 12px;
    justify-content: space-between;
}

.header__log--btn {
    color: white;
    margin: 10px 5px 0px;
    top: 0;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.header__log--btn:hover>a {
    color: white;
}

.nav {
    display: flex;
    gap: 8px;
    text-align: left;
    padding: 8px 0;
    margin-top: 4px;
}

.nav__ul {
    /* padding: 7px 0; */
    align-items: center;
}

.nav li {
    display: inline-block;
    font-size: 2rem;
    position: relative;
    padding: 0 12px;
    line-height: 38px;
    font-weight: bold;
    font-style: normal;
}

.home-icon {
    /* transition: transform 0.5s; */
}

a {
    color: white;
    text-decoration: none;
}

.nav a:hover {
    color: aliceblue;
}

.nav__more {}

ul.nav__more {
    display: none;
    background-color: rgb(71, 80, 86);
    position: absolute;
    left: 0px;
    top: 40px;
    line-height: 38px;
    width: 170px;
    padding: 0;
    text-align: left;
    /* height: 40px; */
}

ul.nav__more li {
    /* top: 0; */
}

li:hover .nav__more {
    display: block;
}

/* Container */
.container {
    position: relative;
    left: 0;
    right: 0;
    top: 120px;
    background: #fff;
    font-size: 1.6rem;
    height: fit-content;
    min-height: 600px;
}

.home {
    position: relative;
    /* top: 120px; */
}
.home-background {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../img/background_TrangChu_4.jpg) no-repeat center, white;
    background-size: cover;
    display: inline-block;
}
.home-content {
    position: relative;
}
.form-home {
    position: relative;
    top: -80px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 15px;
}
.form-home__title {
    width: 100%;
    font-size: 30px;
    margin: 16px 12px;
}
.form-home__element {
    font-size: 1.6rem;
    margin:8px;
    padding:0px 5px;
    width: calc(100% / 2 - 32px);
}
.form-home__element--input {
    margin-top: 12px;
}

.input{
    padding: 10px 12px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.search--btn {
    margin-top: 16px;
    padding: 5px 0;
    width: 100%;
    height: 55px;
    background-color:  rgba(32, 43, 49, 0.95);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.search--btn:hover {
    background-color:  rgba(32, 43, 49, 1);

}
.checkbox-btn {
    color: black;
    cursor: pointer;
}
.perfect-trip,
.train-chair {
    position: relative;
    margin-top: 24px;
    background-color: #fff;
    font-size: 2rem;
    padding: 2rem;

}
.perfect-trip {
    display: flex;
     flex-direction: column;
    border-radius: 10px;
}
.perfect-trip__title {
    width: 100%;
    font-size: 30px;
    margin: 16px 12px;
}
.carousel-container {
    margin-top: 12px;
    overflow: hidden;

}
.carousel {
    display: flex;
    transition: transform 0.5s;
    gap: 32px;
}
.carousel__element {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.carousel__element img{
    padding: 12px;
    width: 335px;
    height: 200px;
}
.carousel__element label{
    /* margin:12 auto; */
    padding: 8px;
    text-align: center;
}
.carousel-button {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 25px;
    background-color: white;
    opacity: 0.8;    
}
.info__tag{
    margin: 8px 0px;
    padding: 12px;
}
.btn-pre {
    top: 28px;
    bottom: 0;
    left: 0;
}
.btn-next {
    top: 28px;
    bottom: 0;
    right: 0;
}

.train-chair {
    display: flex;
    flex-direction: column;
}
.train-chair__title {
    width: 100%;
    font-size: 30px;
    margin: 24px 12px;
}

.train-chair__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 12px;
    gap: 32px;
}
.train-chair__element {
    display: flex;
    flex-direction: column;
    padding: 12px 12px 0 12px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.chair-img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
.chair-label{
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}

/* Container */
.container .train-station{
    position: relative;
    /* top: 120px; */
    font-size: 1.6rem;
    height: 800px;
}

/* train station */
.train-station {
    position: relative;
    /* top: 120px; */
}

.train-station__head {
    margin: 48px 50px 12px 50px;
    display: flex;
    justify-content: space-between;
}

.train-station--search>input {
    padding: 12px;
    width: 250px;
}

.train-station--title {
    font-size: 36px;
}

.train-station__content {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.train-station--map,
.train-station--list {
    padding: 12px;
}

.train_list {
    max-height: 650px;
    overflow-y: auto;
    margin-top: 10px;
}

#suggestion-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.suggestion-item {
    cursor: pointer;
    padding: 5px;
    display: flex;
}

.suggestion-item:hover {
    background-color: #f2f2f2;
}

.img-train {
    width: 150px;
}

.suggestion-item__content {
    margin: 12px;
}

.suggestion-item__content--addr,
.suggestion-item__content h2 {
    margin-bottom: 12px;
}

.train_list-title,
.map-title {
    font-weight: bold;
    font-size: 2.2rem;
    margin: 12px;
}

.img-map {
    width: 100%;
    height: 100%;
}

/* buy ticket */
.buy-ticket {
    position: relative;
}

.buy-ticket-title {
    margin: 36px;
    font-size: 3.0rem;
}

.buy-ticket-content {
    display: flex;
}

.buy-ticket-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buy-ticket-search {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 12px;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.chieudi_chieuve,
.cart-title,
.buy-ticket-search-title {
    font-weight: bold;
    font-size: 2.0rem;
    padding: 12px;
    background-color: rgb(46, 104, 130);
    color: #fff;
}
.ticket-cart {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.cart-content {
    height: fit-content;
    /* display: flex;    */
    flex-direction: column;
    justify-content: center;
    width: 100%;
    display: none;
}
.btn-muave {
    border-radius: 5px;
    background-color: rgb(106, 134, 149);
    border: none;
    margin: 12px;
    width: calc(100% - 24px);
}
.cart-ticket-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 12px;
    font-size: 1.4rem;
}
.cart-ticket-item > i {
    font-size: 2.0rem;
    cursor: pointer;
}
.btn-muave:hover {
    cursor: pointer;
    opacity: 0.8;
}
.buy-ticket__element {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    gap: 4px;
}

.buy-ticket__departure {
    margin-top: 12px;
}

.buy-ticket-search .input {
    padding: 8px;
    border: solid #ccc;
}

.buy-ticket__search-btn .search--btn {
    padding: 8px;
    height: fit-content;
    background-color: rgb(79, 101, 112);
    border: none;
}

#datePicker-return {
    display: none;
}

.train-ticket-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); */
}

.train-ticket-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.train-ticket-item-head {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding: 24px;
    line-height: 2.0rem;
}
.train-ticket-item-head:hover {
    cursor: pointer;
}
.train-ticket-item-content {
    margin: 12px;
    display: none;
}
.train-ticket-more-btn .icon-up {
    display: none;
}
.buy-ticket-seat_style {
    display: flex;
    justify-content: space-around;
}

.buy-ticket-seat_style .cabin {
    display: flex;
    gap: 24px;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    line-height: 2.0rem;
    background-color: #e0e0e0;
    width: calc(100% / 3 - 12px);
}
.buy-ticket-seat_style .cabin:hover {
    cursor: pointer;
}
.cabin-price {
    color: red;
}

.choose-carriage {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 12px auto;
}
.img-carriage-soft-chair,
.img-carriage-4,
.img-carriage-6 {
    display: flex;
    gap: 4px;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    color: rgba(32, 43, 49, 1);
}
.img-carriage-soft-chair,
.img-carriage-4 {
    display: none;
}

.icon-carriage-block {
    width: 50px;
}

.icon-carriage-block:hover {
    cursor: pointer;
}

.icon-train-head {
    width: 55px;
}

.icon-train-head img {
    width: 100%;
}
.carriage-2,
.carriage-4,
.carriage-5,
.carriage-cabin-soft-chair {
    display: none;
}
.icon-carriage-color--now {
    background-color: #6db727;
}

.icon-carriage-color--have {
    background-color: #3578bd;
}

.icon-carriage-color--sold-out {
    background-color: #df5327;
}

.icon-carriage-color {
    opacity: 0.9;
    margin: 0px -1px 8px;
    height: 20px;
    border-radius: 5px;
    overflow: visible;
}

.icon-carriage-color img {
    width: 100%;
}

.seat-list {
    text-align: center;
    /* display: none; */
}

.seats {
    margin-top: 12px;
    border: 4px solid rgb(32, 43, 49);
    border-radius: 10px;
    display: flex;
    overflow: auto;
    justify-content: space-between;
}

.carriage-right,
.carriage-left {
    display: flex;
    gap: 12px;
}

.seats-left,
.seats-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.seats-left {
    margin-left: 24px;
}

.seats-right {
    margin-right: 24px;
}

.carriage-table-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.train-table {
    height: 65px;
    width: 20px;
    border-radius: 5px;
    background-color: rgb(32, 43, 49);
}

.seat {
    display: flex;
    margin: 2px;
}

.sit-side {
    height: 30px;
    width: 5px;
    border-radius: 2px;
    background-color: rgb(32, 43, 49);
}

.sit-sur {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    border: 1px solid rgb(32, 43, 49);
    /* background-color: #fff; */
}
.sit-sur:hover,
.sit-sur-bed:hover {
    cursor: pointer;
}
.ghe_dang_chon {
    background-color: #6db727;
}
.ghe_trong {
    background-color: #fff;
}
.ghe_da_ban {
    background-color: #df5327;
}
/* cabin 6 or 4 */
.full-seat-cabin-6 {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 12px auto;
}

.seat-cabin-6 {
    display: flex;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.list-seat-cabin {
    display: flex;
    gap: 24px;
}

.seat-up-left {
    height: 40px;
    border-left: 3px solid #000;
}

.seat-up-right {
    height: 40px;
    border-right: 3px solid #000;
}

.sit-side-bed {
    height: 5px;
    width: 34px;
    border: 3px solid rgb(32, 43, 49);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* background-color: #fff; */
}

.sit-sur-bed {
    margin: 0 2px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    border: 1px solid rgb(32, 43, 49);
}

.floor-seat {
    height: 40px;
}

.name-seat-cabin-6 {
    margin-right: 12px;
    display: flex;
    flex-direction: column;
}

.train-time {
    display: flex;
    gap: 24px;
    align-items: center;
}

.train-ticket-item .train-number {
    width: 100px;
    font-weight: bold;
}

.train-ticket-more-btn {
    background-color: #fff;
    border: none;
}

.train-ticket-more-btn:hover {
    cursor: pointer;
}

/* More */
ol.regulations li {
    padding: 8px 0;
    border: 1px solid #ccc;
}
ol.regulations li:has(ol) {
    padding-bottom: 0;
}
ol.regulations{
    list-style-type: upper-roman;
    list-style-position: inside;
    font-size: 20px;
    line-height: 35px;
    text-indent: 20px;
    margin-left: 24px;
}
ol.regulations__more{
    list-style-type: decimal;
    text-indent: 25px;
}
.regulations__more {
    margin-top: 8px;
}
.regulations__more li{
    padding-left: 24px;
    border-left: none;
    border-right: none;
}
.regulations__more li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.regu{
    display: grid;
    /* background-color: rgba(39, 120, 234, 0.05); */
    padding: 20px 5px;
    border-radius: 5px;
}
.regu__header{
    font-size: 2.2rem;
    padding: 12px;
    width: fit-content;
    /* margin-left: 10px; */
    margin-bottom: 10px;
    text-align: left;
    color: white;
    font-weight: bold;
    background-color: rgb(46, 104, 130);
    /* background-image: linear-gradient(to right bottom, rgb(59, 121, 234), rgb(204, 221, 251)); */
}
iframe{
    height: 1050px;
    width: 100%;
}
iframe.video{
    display: grid;
    width: 560px;
    height: 315px;
    margin: 10px auto;
}
a.prevent_default{
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 45px;
}
a.prevent_default:hover{
    color: rgba(4, 4, 249,0.6);
    text-decoration: underline;
}
.box{
    font-size: 1.6rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}
.box_title{
    color: #e55a05;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info_type1{
    font-size: 1.6rem;
    line-height: 16px;
    margin-bottom: 15px;
}
.info_type2{
    font-size: 1.4rem;
    color: #3f3f3f;
    line-height: 16px;
}
.info_type2 p{
    margin-top: 12px;
}
.hidden{
    visibility: hidden;
}
#header_avatar{
    width: 20px;
}
.account{
    display: grid;
    grid-template-columns: 3fr 9fr;
    column-gap: 10px;
    margin-top: 20px;
    position: relative;
    top: 120px;
}
.acc_icon{
    padding-right: 10px;
}
.blue__color{
    color: blue;
    cursor: pointer;
}
.acc__nav{
    border: 1px solid rgba(117, 117, 220, 0.2);  
    border-radius: 5px;  
    text-indent: 15px;
    height: fit-content;
}
.acc__nav--header{
    padding: 10px 0;
    line-height: 30px;
    color: white;
}
.acc__nav__btn{
    padding: 5px 0;
    line-height: 30px;
    margin-top: 5px;
    cursor: pointer;
}
.acc__nav__btn:hover{
    background-color: rgba(148, 146, 146, 0.2);
    border-left: 2px solid blue;
}
.acc__info--details{
    display: grid;
    grid-template-columns: 4fr 3fr;
    column-gap: 10px;
    margin-bottom: 15px;
}
.acc__info--details--left_side{
    text-align: center;
    border: 1px solid rgba(117, 117, 220, 0.2);
    border-radius: 5px;
    padding: 15px 0;
    line-height: 20px;
}
.acc__info--details--right_side{
    padding: 30px 0;
    border: 1px solid rgba(117, 117, 220, 0.2);
    border-radius: 5px;
    line-height: 30px;
    font-size: 16px;
    text-indent: 20px;
}
#avatar_acc{
    height: 100px;
}
table.order_history__table{
    border: none;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 1px 1px 2px 1px rgba(148, 146, 146, 0.6);
}
tr.order_history:nth-child(even) {
    background-color: rgba(148, 146, 146, 0.2);
}
.selected_btn{
    background-color: rgba(148, 146, 146, 0.2);
    border-left: 2px solid blue;
}
.background__blue{
    background-color: rgba(17, 106, 161, 0.8);
    box-shadow: 1px 1px 3px rgb(103, 170, 212);
}
div.order_history{
    border: 1px solid rgba(117, 117, 220, 0.2);
    margin-bottom: 30px;
}
.order_history__title{
    text-indent: 30px;
    line-height: 30px;
    padding: 10px 0;
}
td.order_history{
    height: 40px;
    text-align: center;
    border: none;
}
td.order_history__table_th{
    height: 30px;
}

.acc_setting_box{
    text-indent: 20px;
    border: 1px solid rgba(59, 59, 59, 0.8);
    margin-bottom: 30px;
}
.acc_setting_box__title{
    padding: 10px 0;
    line-height: 30px;
}
.acc_setting_box__content{
    border-top: 1px solid rgba(59, 59, 59, 0.8);
    border-bottom: 1px solid rgba(59, 59, 59, 0.8);
    display: grid;
    grid-template-columns: 6fr 5fr;
    column-gap: 20px;
}
.order_history__details{
    border: 1px solid blue;
    padding: 30px;
}
.order_history__details > p {
    font-size: 25px;
    line-height: 35px;
}
.order_history__details--box{
    margin-left: 10px;
    line-height: 25px;
}
.order_history__details--box--buyer_info{
    background-color: rgba(17, 106, 161, 0.2);
    box-shadow: 1px 1px 4px grey;
    font-size: 18px;
    text-indent: 25px;
    margin: 10px 0 20px;
    padding: 4px 0;
}
.order_history__details--box--buyer_info  i{
    text-indent: 0;
}
.order_history__details--box--buyer_info p {
    margin: 8px;
}
.order_history__details--box--ticket{
    border-radius: 5px;
    box-shadow: 1px 1px 4px grey;
    padding: 20px;
    color: brown;
    background-color: wheat;
}
.order_history__details--box--ticket > h2{
    width: 100%;
    text-indent: 15px;
}
.order_history__details--box--ticket > table{
    width: 100%;
    text-indent: 15px;
}
.order_history__details--box--ticket  i{
    text-indent: 0;
}
 
.acc_setting_box{
    text-indent: 20px;
    border: 1px solid rgba(59, 59, 59, 0.8);
    margin-bottom: 30px;
}
.acc_setting_box__content2{
    padding: 0 10px;
}
.acc_setting_box__content--text{

}
.acc_setting_box__content--input_box{
    width: 100%;
    padding: 5px 0;
}
.acc_setting_box__content--input_box > input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0 0 20px;
    border: 1px solid rgba(59, 59, 59, 0.2);
    text-indent: 10px;
}
.password__eye{
    cursor: pointer;
}
.acc_setting__change_btn{
    margin: 20px;
    padding: 10px 18px;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 1px 1px 4px grey;
}
.acc_setting_box__content--image{
    text-align: center;
}
#avatar_acc__setting{
    height: 200px;
    margin-top: 60px;
}
.avatar_acc{
    border-radius: 50%;
}
.acc_setting_box__change_password{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.acc_setting_box__content--input_box--password{
    border: 1px solid rgba(59, 59, 59, 0.2);
    margin: 5px 0 0 20px;
}
.acc_setting_box__content--input_box--password > input{
    width: 90%;
    padding: 10px 0;
    border: none;
}
.acc_setting_box__change_password > .acc_setting_box__content--input_box > .acc_setting_box__content--input_box--password > input{
    width: 80%;
    padding: 10px 0;
    border: none;
}
.sign_in_up_btn{
    cursor: pointer;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 102;
}

.form_register {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3c3d3d;
    opacity: 0.6;
}
.modal__body {
    height: 700px;
    width: 600px;
    margin: auto;
    background-color: white;
    z-index: 1;

}

.modal__inner {
    border-radius: 10px;
}
#sign_in_up__content{

}
.auth-form{

}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #989898;
}
.auth-form_part-head {
    width: 300px;
    text-align: center;
    font-size: 2.6rem;
    padding:36px 12px;
    margin: 0;
}
.auth-form__selected{
    background-color: #989898;
    color: white;
}
.auth-form__form{
    padding: 0 20px;
    margin: auto;
    margin-top: 20px;
}

.auth-form__group {
    margin: 0px 42px;
}

.auth-form__group-infor {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.auth-form__group--des {
    color: #121;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.75;
    margin-top: 36px;
    margin-bottom: 36px;
}

.auth-form__input {
    color: #121;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.75;
    width: 100%;
    height: 56px;
    border-radius: 4px 4px 0px 0px;
    margin-top: 12px;
    padding: 0 12px;
    /* border: 1px solid var(--border-color); */
    border-color: var(--border-color);
}
.auth-form__remember-forgot {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.auth-form__checkbox {
    text-align: left;
    width: 12px;
    height: 12px;
    font-size: 1.6rem;
    margin-left: 8px;
}
.btn-forgot-pass {
    text-align: right;
    width: 200px;
    color: red;
    margin-right: 12px;
    text-decoration: none;
}
.auth-form__policy-text {
    /* align-items: center; */
    width: 100%;
    color: #121;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.75;
    height: 48px;
    margin-top: 12px;
}

.auth-form__policy-link {
    text-decoration: none;
    color: black;
}

.forgot--password  {
    align-items: center;
}

.auth-form__controls {
    width: 512px;
    height: 56px;
    border-radius: 4px 4px 0px 0px;
}


.btn--login {
    background-color: #3179ff;
    border-color: #3179ff;
    justify-content: center;
    outline: none;
    width: 476px;
    height: 48px;
    margin: 12px 42px;
    border-radius: 4px;
    font-size: 1.6rem;
    color: white;
    font-style: normal;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.85;
}

.other_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px; */
    margin: 12px 42px;
    height: 56px;
    color: #121;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.75;
}
.hr {
    width: 180px;
}

.auth-form__socials {
    display: flex;
    gap: 16px;
    height: 56px;
    font-size: 26px;
    margin: 16px 42px;
    /* padding: 0px 0px; */
    /* width: 120px; */
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    flex: 1 0 0;

}

.btn-icon {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.auth-form__socials-icon {
    align-items: center;
    width: 147px;
    padding: 16px 24px;
}

.form-muave-container{
    padding: 10px 0px;
}
.form-muave-container__title{
    margin: 10px 0px;
}
.form-trave-container__line-container {
    display: grid;
    /* width: 800px; */
    /* margin: auto; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 15px;
    font-size: 16px;
}
.form-muave__title{
    color: rgb(255, 255, 255);
    background-color: #0082c4;
    width: fit-content;
    margin: 8px 0px;
    padding: 12px;
}
.form-muave-container__title-notice{
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 5px;
    color: #3a87ad;
    padding: 15px 15px;
    margin-top: 10px 0px;
    font-size: 15px;
}
.form-muave-container__ticket{
    margin-top: 30px;
}
.buying__info--ticket{
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}
.buying__info--ticket td{
    border: 1px solid rgba(155, 155, 155, 0.5);
    padding: 5px 10px; 
}
.buying__info--ticket__row1{
    background-color: lavender;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}
.buying__info--ticket-title-ttht{
    width: 120px;
}
.buying__info--ticket-title-ttc{
    width: 100px;
}
.buying__info--ticket-title-ticket-cost{
    width: 100px;
}
.buying__info--ticket-title-km{
    width: 220px;
}
.buying__info--ticket-title-tt{
    width: 95px;
}
.buying__info--ticket__row2{
    background-color: #dbedf7;
    color: #0082c0;
    font-weight: bold;
    font-size: 14px;
}
.buying__info--ticket-td-align-center{
    text-align: center;
}
.buying__info--ticket-td-align-right{
    text-align: right;
}
.buying__info--ticket-input-box{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 5px;
}
.buying__info--ticket-label{
    padding: 3px 0px;
    width: 60px;
}
.buying__info--ticket-input{
    padding: 3px 3px;
}
.customer-info{
    line-height: 20px;
    margin: 15px 0 10px;
    font-size: 14px;
}
.title--orange{
    color: orange;
    font-size: 2.0rem;
    font-weight: bold;
    width: 100%;
}
.form-muave-container__customer{
    margin-top: 30px;
}
.customer-info__content{
    margin-top: 10px;
    background-color: #ececec;
    border: none;
    padding: 15px 15px;
}
.customer-info__content-notice{
    margin-bottom: 10px;
    color: #3a87ad;
    font-size: 15px;
}
.customer-info__content-input-box{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    gap: 10px;
}
.customer-info__content-label{
   padding: 3px 0px;
   font-size: 13px;
}
.form-trave-container__content-asterisk--color{
    color: rgb(255, 0, 0);
}
.customer-info__content-input{
    padding: 3px 8px;
    font-size: 13px;
}
.form-muave-container__e-bill{
    margin-top: 30px;
}
.e-bill__content{
    margin-top: 5px;
}
.e-bill__content-notice{
    margin-bottom: 10px;
    color: red;
    font-size: 15px;
}
.e-bill__content-input-box{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    gap: 10px;
    margin-bottom: 10px;
}
.e-bill__content-input-box2{
    display: grid;
    grid-template-columns: 0.42fr 3fr;
    gap: 10px;
}
.form-muave-container__payment{
    margin-top: 30px;
}
.payment-box1{
    margin-top: 10px;
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.payment-box2{
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.payment__check-box{
    height: 110px;
}
.payment__bank-logo{
    height: 120px;
    width: 175px;
    padding: 10px 8px;
}
.payment__content{
    display: inline-block;
    position: relative;
    padding-top: 50px;
}
.payment-title{
    color: #3a87ad;
    font-size: 15px;
}
.payment-description{
    font-size: 13px;
}
.form-muave-container__checkbox{
    margin-top: 20px;
    font-size: 15px;
}
.muave-checkbox__link{
    text-decoration: none;
    color:#2fa4e7;
}
.muave-checkbox__link:hover{
    text-decoration: underline;
    color: #3a87ad;
}
.form-muave-container__btn-box{
    margin-top: 30px;
}
.muave__return-btn{
    background-color: #0686b7;
    border: none;
    color: white;
    padding: 3px 8px;
    font-size: 18px;
    float: left;
}
.muave__next-btn{
    background-color: #0686b7;
    border: none;
    color: white;
    padding: 3px 8px;
    font-size: 18px;
    float: right;
}
.customer-info__content-box{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 13px;
}
.confirming__info--ticket__row{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.confirming__info--ticket__content-row{
    text-align: center;
    font-size: 13px;
}
.confirming__info--ticket-td-align-justify{
    text-align: justify;
}
.confirming__info--ticket-td-display{
    display: flex;
    justify-content: space-between;
}
.confirming__info--ticket-td-align-right{
    text-align: right;
}
.confirming__info--ticket-notice{
    margin-top: 20px;
    font-size: 15px;
}
.form-online-payment-container{
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 20px;
    gap: 20px;
    background-color: rgb(192, 192, 192);
}
.form-online-payment__content{
    border-radius: 5px;
    border: 1px solid #0082c4;
    background-color: white;
    padding: 20px 20px;
    font-size: 13px;
}
.form-online-payment__label{
    font-weight: bold;
    margin: 3px 0px;
}
.form-online-payment__input-box{
    margin-left: 100px;
}
.date-input{
    width: 177px;
}
.form-online-payment__notice{
    margin-top: 10px;
    color: red;
    font-size: 14px;
}
.form-online-payment__title{
    color: #0082c4;
    font-size: 16px;
    margin-bottom: 3px;
}
.form-online-payment__line{
    margin: 10px 0px;
}
.qr-scan{
    height: 175px;
    width: 175px;
}
.form-complete-container{
    font-size: 15px;
    color: #2fa4e7;
}
.thanks{
    margin-bottom: 3px;
}
.mdc-box{
    background-color: lavender;
    width: fit-content;
    padding: 5px 5px;
    margin-bottom: 5px;
}
.layve-btn{
    padding: 5px 5px;
    color: rgb(255, 255, 255);
    background-color: #54b4eb;
    border-radius: 5px;
    border: 0px;
    font-size: 17px;
    margin-left: 500px;
}
.layve-btn:hover{
    border: 1px solid rgb(30, 0, 255);
}
.print-ticket{
    text-decoration: none;
    color: aqua;
}
.print-ticket:hover{
    color: #0082c4;
    text-decoration: underline;
}
.alert-icon-red{
    color: red;
    font-size: 13px;
    width: 100%;
    text-align: center;
}

.form-ttdc-container{
    padding: 10px 0px;
    padding-left: 16px;
}
.form-ttdc-container__title{
    margin: 10px 10px;
}
.form-ttdc-container__sub-title{
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0px;
}
.form-ttdc-container__content{
    margin-left: 300px;
    padding: 14px 0px;
    padding-left: 16px;
    width: 500px;
}
.form-ttdc-container__content-login{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
}
.form-ttdc-container__content-asterisk--color{
    color: rgb(255, 0, 0);
}
.form-ttdc-container__content-title{
    text-align: right;
    font-weight: bold;
    color: rgb(90, 86, 86);
    padding: 12px 0px;
    font-size: 15px;
}
.form-ttdc-container__content-input{
    padding: 15px 15px;
    height: 40px;
    font-size: 15px;
}
.form-ttdc-container__content-btn{
    display: grid;
    padding: 10px 15px;
    grid-template-columns: 1fr 1fr;
}
.form-ttdc-container__content-link{
    padding: 12px 0px;
    text-decoration: none;
    color: #2fa4e7;
    font-size: 15px;
}
.form-ttdc-container__content-link:hover{
    color: #157ab5;
    text-decoration: underline;
}
.form-ttdc__title{
    color: rgb(255, 255, 255);
    background-color: #0082c4;
    width: fit-content;
    margin: 5px 0px;
}
.form-ttdc__btn{
    height: 40px;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: #54b4eb;
    border-radius: 5px;
    border: 0px;
    margin-left: 103px;
    font-size: 17px;
}
.form-ttdc__btn:hover{
    border: 1px solid rgb(30, 0, 255);
}
.title--orange{
    color: orange;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}
.form-ttdc-booking__info{
    display: none;
    width: 100%;
    padding: 10px;
}
.form-ttdc-booking__info--ticket{
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
}
.form-ttdc-booking__info--ticket td{
    border: 1px solid rgba(155, 155, 155, 0.5);
    padding: 5px 5px;
}
td.title--orange{
    border: none;
}
.form-ttdc-color--gray{
    color: rgb(90, 88, 88);
    text-align: center;
}
.form-ttdc-guest__name{
    width: 120px;
}
.form-ttdc-ticket__info{
    width: 150px;
}
.form-ttdc-cash__type{
    width: 100px;
}
.form-ttdc-booking__info--ticket__row1 td{
    background-color: rgba(155, 155, 155, 0.3);
    text-align: center;
    font-weight: bold;
    color: black;
}
.form-ttdc-tour{
    background-color: #d9edf7;   
    color: rgb(77, 77, 243);
    height: 25px;
    text-indent: 10px;
}
.form-ttdc-notice{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 50px;
    line-height: 20px;
    font-size: 16px;
    color: #3a87ad;
}
.form-ttdc-ticket-booking-info{
    font-size: 15px;
    line-height: 20px;
    padding-top: 20px;
    margin: 15px 10px;
}
.form-ttdc-ticket-booking-info__row{
    display: flex;
    margin-left: 5px;
}
.form-ttdc-ticket-booking-info__col{
    display: flex;
    flex: 1;
}
.form-ttdc-ticket-booking-info__col div{
    display: flex;
    flex: 1;
}
.form-ttdc-ticket-booking-info__link{
    text-decoration: none;
    color: #2fa4e7;
}
.form-ttdc-ticket-booking-info__link:hover{
    text-decoration: underline;
    color: aqua;
}
.form-laymdc-container{
    display: none;
    padding: 10px 0px;
    padding-left: 16px;
}
.form-laymdc-container__title{
    margin: 10px 10px;
}
.form-laymdc-container__sub-title{
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0px;
    color: #3a87ad;
}
.form-laymdc-container__content{
    margin-left: 260px;
    padding: 14px 0px;
    padding-left: 16px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr;
}
.form-laymdc-container__content-title{
    font-weight: bold;
    color: rgb(90, 86, 86);
    padding: 12px 0px;
    font-size: 16px;
}
.form-laymdc-container__content-function{
    display: grid;
    font-size: 15px;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}
.form-laymdc-container__content-input{
    padding: 15px 15px;
    height: 40px;
}
.form-laymdc__title{
    color: rgb(255, 255, 255);
    background-color: #0082c4;
    width: fit-content;
    padding: 12px;
    margin: 4px 0px;
}
.form-laymdc__btn{
    height: 40px;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: #54b4eb;
    border-radius: 5px;
    border: 0px;
    font-size: 17px;
}
.form-laymdc__btn:hover{
    border: 1px solid rgb(30, 0, 255);
}
.form-container{
    padding: 50px 0px;
    position: relative;
    margin: 50px 0px;
    min-height: 600px;
}
.form-trave-container{
    padding: 10px 0px;
    padding-left: 16px;
}

.form-trave-container__line--element {
    border-top: 1px solid #000;
    position: relative;
    text-align: center;
}

.form-trave-container__line-container-row-node {
    position: relative;
    top: -10px;
    margin: auto;
}
.form-trave-container__line-container-row-name-active {
    color: #3a87ad;
}
.form-trave-container__title{
    margin: 10px 10px;
}
.form-trave-container__sub-title{
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0px;
}
.form-trave-container__title-notice{
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    border-radius: 5px;
    color: #3a87ad;
    padding: 15px 15px;
    margin-top: 10px 0px;
    font-size: 15px;
}
.form-trave-container__content{
    margin-left: 260px;
    padding: 14px 0px;
    padding-left: 16px;
    width: 500px;
}
.form-trave-container__content-login{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
}
.form-trave-container__content-asterisk--color{
    color: rgb(255, 0, 0);
}
.form-trave-container__content-title{
    text-align: right;
    font-weight: bold;
    color: rgb(90, 86, 86);
    padding: 12px 0px;
    font-size: 15px;
}
.form-trave-container__content-input{
    padding: 15px 15px;
    height: 40px;
    font-size: 15px;
}
.form-trave-container__content-btn{
    display: grid;
    padding: 10px 15px;
    grid-template-columns: 1fr 1fr;
}
.form-trave-container__content-link{
    padding: 12px 0px;
    text-decoration: none;
    color: #2fa4e7;
    font-size: 15px;
}
.form-trave-container__content-link:hover{
    color: #157ab5;
    text-decoration: underline;
}
.form-trave__title{
    color: rgb(255, 255, 255);
    background-color: #0082c4;
    width: fit-content;
    margin: 5px 0px;
}
.form-trave__btn{
    height: 40px;
    width: 100px;
    color: rgb(255, 255, 255);
    background-color: #54b4eb;
    border-radius: 5px;
    border: 0px;
    margin-left: 103px;
    font-size: 17px;
}
.form-trave__btn:hover{
    border: 1px solid rgb(30, 0, 255);
}
.booking__info{
    width: 100%;
    padding: 10px;
    display: none;
}
.title--orange{
    color: orange;
    font-size: 2.0rem;
    font-weight: bold;
    width: 100%;
}
.notice{
    display: block;
    width: 100%;
    height: 50px;
    background-color: #d9edf7;
    padding: 10px 80px;
    margin-bottom: 20px;
    color: rgb(77, 77, 243);
    text-align: center;
    line-height: 15px;
    font-size: 14px;
}
.booking__info--ticket{
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}
.booking__info--ticket td{
    border: 1px solid rgba(155, 155, 155, 0.5);
    padding: 3px; 
}
td.title--orange{
    border: none;
}
.color--gray{
    color: rgb(90, 88, 88);
}
.guest__name{
    width: 140px;
}
.ticket__info{
    width: 160px;
}
.bold--black{
    font-weight: bold;
    color: black;
}
.booking__info--ticket__row1 td{
    background-color: rgba(155, 155, 155, 0.3);
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 8px 0px;
}
.tour{
    background-color: #d9edf7;   
    color: rgb(77, 77, 243);
    height: 25px;
    text-indent: 10px;
}
.check-box{
    margin: 35%;
}
.ticket-booking-info{
    line-height: 20px;
    margin: 15px 0 10px;
    font-size: 14px;
}
.ticket-booking-info__row{
    display: flex;
    margin-left: 5px;
    width: 100%;
}
.ticket-booking-info__col{
    display: flex;
    flex: 1;
}
.ticket-booking-info__col div{
    display: flex;
    flex: 1;
}
.button_chonvetra{
    display: flex;
    justify-content: right;
}
.button_chonvetra__content{
    background-color: rgba(39, 120, 234, 0.5);
    border: 1px solid rgba(39, 120, 234, 0.8);
    text-align: center;
    line-height: 28px;
    margin: 5px 20px;
    padding: 5px 5px;
    font-size: 14px;
}
.button_chonvetra__content > a{
    display: block;
    height: 100%;
    padding: 0 5px;
    text-decoration: none;
    color: white;
}
.button_chonvetra__content:hover{
    background-color: rgba(39, 120, 234, 0.9);
}
.cashback{
    display: none;
    min-width: 600px;
    margin: 15px;    
    width: 100%;
}
.ticket__cashback{
    font-size: 12px;
}
.title--orange{
    line-height: 25px;
    text-indent: 10px;
}
.tour{
    line-height: 25px;
}
.ticket__cashback--info{
    display: flex;
    background-color: rgba(155, 155, 155, 0.1);
    color: black;
    margin: 12px;
    padding: 10px;
    line-height: 20px;
}
.border{
    border: 1px solid rgba(155, 155, 155, 0.6);
}
.ticket__cashback--info div{
    flex: 1;
}
.ticket__cashback--summary{
    background-color: rgba(155, 155, 155, 0.1);
    line-height: 25px;
    padding: 10px;
}
.ticket__cashback--summary--row{
    display: flex;
}
.ticket__cashback--summary--row div{
    flex: 1;
}
.cashback__method{
}
.cashback__method--check{
    width: 100%;
    padding-right: 32%;
    display: flex;
    text-indent: 10px;
    justify-content: space-between;
    font-size: 12px;
}

.check-box{
    margin: 0;
    position: relative;
    top: 3px;
}
.button_xacnhan{
    margin-left: 480px;
    justify-content: center;
    margin-top: 20px;
    width: 150px;
}
.button_xacnhan__content{
    background-color: rgba(39, 120, 234, 0.5);
    border: 1px solid rgba(39, 120, 234, 0.8);
    text-align: center;
    line-height: 28px;
    margin: 5px 20px;
    padding: 5px 5px;
    font-size: 14px;
}
.button_xacnhan__content > a{
    display: block;
    height: 100%;
    padding: 0 5px;
    text-decoration: none;
    color: white;
}
.done{
    display: none;
}
.button_xacnhan__content:hover{
    background-color: rgba(39, 120, 234, 0.9);
}
.form-trave-container__done-notice{
    font-size: 16px;
}
.done > div > a{
    color: blue;
}
.form-gtgv-container{
    border: 1px solid #337ab7;
    border-radius: 5px;
}
.form-gtgv-container__title{
    background-color: #337ab7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 26px;
    color: #fff;
    padding: 25px 10px;
}
.form-gtgv-container__selective-box{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    padding: 20px 20px;
}
.form-gtgv-container__selective-box-stt{
    background-color: #337ab7;
    color: #fff;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    padding: 3px 5px;
    padding-left: 8px;
    margin-right: 5px;
}
.form-gtgv-container__selective-box-forward{
    padding: 20px 100px;
    font-size: 20px;
}
.form-gtgv__element--label{
    padding-top: 18px;
}
.form-gtgv__element {
    display: grid;
    grid-template-columns: 2fr 4fr;
    font-size: 1.6rem;
    margin:8px;
    padding:0px 5px;
}
.form-gtgv__element--input {
    margin-top: 5px;
}
.form-gtgv__btn{
    padding: 10px 10px;
    background-color: #337ab7;
    color: white;
    border: 1px solid #337ab7;
    border-radius: 15px;
    margin-left: 550px;
    font-size: 22px;
    margin-bottom: 15px;
}
.form-gtgv__input{
    padding: 10px 12px;
    width: 100%;
}
.form-gtgv-container__summary-box{
    margin: 10px 100px;
    padding: 10px 10px;
    background-color: #d9edf7;
    border-radius: 8px;
}
.form-gtgv-container__summary-box_train-name{
    text-align: center;
    color: #2356af;
    font-size: 30px;
}
.form-gtgv-container__summary-box_journey-log-box{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}
.form-gtgv-container__summary-box_journey-log-box_departure{
    padding-top: 10px;
    text-align: right;
    color: #31708f;
    font-weight: bold;
    font-size: 16px;
}
.form-gtgv-container__summary-box_journey-log-box_arrow{
    font-size: 40px;
    padding: 6px 75px;
}
.form-gtgv-container__summary-box_journey-log-box_destination{
    padding-top: 10px;
    text-align: left;
    color: #31708f;
    font-weight: bold;
    font-size: 16px;
}
.form-gtgv-container__summary-box_journey-time{
    text-align: center;
    margin: 5px 335px;
    padding: 3px 5px;
    font-size: 15px;
    background-color: #1b809e;
    border-radius: 10px;
    color: #fff;
}
.form-gtgv-container__summary-box-none{
    margin: 10px 30px;
    padding: 20px 20px;
    font-size: 20px;
    color: #31708f;
    background-color: #d9edf7;
    border-radius: 8px;
}
.form-gtgv-container__content-box{
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 10px;
    margin-bottom: 30px;
}
.form-gtgv-container__content-box_table{
    border: 1px solid #ddd;
    border-radius: 4px;
    height: fit-content;
}
.form-gtgv-container__content-box_table-title{
    padding: 7px 0px;
    background-color: #f5f5f5;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
}
.form-gtgv-container__content-box_table-data{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.form-gtgv-container__content-box_table-data td{
    border: 1px solid rgba(155, 155, 155, 0.5);
    padding: 3px 3px;
    font-size: 15px;
}
.form-gtgv-container__content-box_table-head{
    font-weight: bold;
    background-color: #d9edf7;
}
.content-box_table-row--color{
    background-color: #f5f5f5;
}
.content-box_table-row-selected{
    color: #31708f;
    font-weight: bold;
}
.content-box_table-row-selected td{
    font-size: 17px;
    padding: 6px 3px;
}
.content-box_table--text-align-left{
    text-align: left;
}
.content-box_table--text-align-right{
    text-align: right;
}
.content-box_table-head--width{
    width: 250px;
}
.form-gtgv-container__content-box_table-notice{
    padding: 0px 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    color: #0a4171;
    font-weight: bold;
    border-radius: 3px;
    font-size: 13px;
}
#SE5{
    display: none;
}
#SE7{
    display: none;
}
#SE8{
    display: none;
}
#None{
    display: none;
}
#more{
    position: relative;
    margin-top: 24px;
}
/* Footer */
.footer {
    position: relative;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 800px;
    width: 100%;
    margin-top: 200px;
    background-color: rgba(28, 41, 48, 1);
    color: rgb(255, 255, 255);
}

/* animation train */
.train {
    position: relative;
    background-image: url(../img/background-train-animation.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    /* background-color: #fff; /* Màu nền đoàn tàu */
}

.train-body {
    width: 50%;
    height: 43px;
    position: absolute;
    left: 0;
    bottom: 0;
    /*background-color: #fff; /* Màu nền thân đoàn tàu */
    animation: moveTrain 10s linear infinite;
    /* Sử dụng animation với tên "moveTrain" */
}

.train-wheels {
    width: 20px;
    height: 20px;
    position: absolute;
    /*background-color: #fff; /* Màu nền bánh xe */
    border-radius: 50%;
    /* Để tạo hình tròn */
    top: 40px;
    /* Độ cao so với thân đoàn tàu */
    animation: rotateWheels 0.5s linear infinite;
    /* Sử dụng animation với tên "rotateWheels" */
}

@keyframes moveTrain {
    0% {
        left: -50%;
        /* Vị trí ban đầu bên ngoài màn hình bên trái */
    }

    100% {
        left: 100%;
        /* Vị trí cuối cùng bên ngoài màn hình bên phải */
    }
}

@keyframes rotateWheels {
    0% {
        transform: rotate(0deg);
        /* Góc xoay ban đầu */
    }

    100% {
        transform: rotate(360deg);
        /* Góc xoay hoàn thành một vòng tròn */
    }
}

.footer-container {}

.footer-flex-container {
    padding-top: 56px;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.footer-flex-container-group {
    max-width: 250px;
}

.footer-flex-container__box-title {
    margin: 12px 0;
    font-size: 2rem;
    font-weight: bold;
}

.group--element {
    display: flex;
    flex-direction: column;
}

.footer-flex-container__box-content {
    margin: 10px 0px;
    font-weight: lighter;
    color: rgb(210, 146, 67);
    text-decoration: none;
    font-size: 1.6rem;
}

a:hover {
    color: rgb(6, 239, 247);
    text-decoration: underline;
}

.footer-flex-container__box-logo {
    height: 90px;
    width: 250px;
}

.footer-flex-icon-container {
    display: flex;
    justify-content: space-between;
}

.footer-flex-container__box-icon {
    height: 50px;
    width: 50px;
    opacity: 0.6;
    font-size: 50px;
    cursor: pointer;
}

.footer-flex-container__box-icon:hover {
    opacity: 1.0;
}

.footer__bank-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
}

.footer-flex-container__box-bank-logo {
    height: 45px;
    width: 75px;
    padding: 12px 8px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid red;
    border-radius: 8px;

}

.footer__hr {
    margin: 36px 0px;
}

.footer-relative-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* position: relative; */
    height: 100%;
    width: 100%;
}

.footer_address {
    font-size: 1.4rem;
    padding-bottom: 12px;

}

.footer__copyright {
    font-size: 1.4rem;
    padding-bottom: 12px;
    font-weight: bold;
}
